/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul > * {
  display: inline-block;
}
.debug {
  min-height: 100px;
  border: 2px dashed red;
  background-color: #ff000022;
}

/* UTILS */

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
}

/* # HEADER */

header {
  color: white;
}

.page-header {
  background-color: rgb(255 105 0);
 

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header-menu {
}

.header-icons {
  color: white;
  cursor: pointer;
}

.header-logo {
  max-width: 15%;
  display: flex;
  justify-content: center;
}


/* # MAIN */

.main-page {
  padding30px
} 